<div class="list">
<ul id="{{_id}}">
  <li>{{first}} {{last}}</li>
  <li><a href="mailto:{{email}}">{{email}}</a></li>
  <li><a href="https://twitter.com/{{twitter}}" target="_blank">{{twitter}}</a></li>
  <li><a href="{{phone}}">{{phone}}</a></li>
  <h3>Delete</h3>
</ul>
</div>
